html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*----- Home -----*/
body {
	margin: 0;
}

/*----- Navbar -----*/
.navbar {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	height: 95px;
}
.navbar-white {
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px #3F3F3F;  
}
.navbar-text {
	display: inline-block;
	padding: 1% 3% 0.5% 3%;
	text-decoration: none;
	font-weight: 600;
	color: #084D6E;
	font-size: 18px;
	vertical-align: middle;
}
.navbar-text:hover {
	color: #EAAA00;
}
.navbar-text:active {
	color: #EAAA00;
}
.logo-img-navbar {
	width: 120px;
}
.navbar-active-link {
	color: #EAAA00;
}

/*-----Dropdown Menu-----*/

.navbar-mobile {
	display: none;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 8px 0px #3F3F3F;  
	height: 75px;
}
.navbar-mobile-text {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 8%;
  text-decoration: none;
}
.dropdown-icon {
	font-size: 38px;
	color: #3F3F3F;
	padding-top: 0;
	padding-left: 5px;
}
.dropdown {
  float: left;
  overflow: hidden;
  text-align: left;
}
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  padding: 19px 21px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar-mobile-text:hover, .dropdown:hover .dropbtn {

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 184px;
  box-shadow: 15px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #F0F0F0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.logo-img-navbar-mobile {
  width:85px;
  z-index: 1;
  margin-top: 14px;
}

/*----- Header -----*/

.header-banner {
	position: relative;
	background-image: url("../images/banner_img.jpg");
	background-size: cover;
  	background-position: center;
  	height: 100vh;
}
.home-title-mobile {
	display: none;
}
.home-title {
	display: block;
	position: absolute;
	bottom: 50%;
	margin-bottom: -85px;
	right: 80px;
	color: #FFFFFF;
	text-align: right;
	font-size: 4.2em;
	opacity: 0;
	transition: opacity 2s ease;
	-webkit-transition: left, opacity 2s ease;
}
.home-title.is-visible {
	opacity: 2;
}
.prizes-images-header {
	position: absolute;
	bottom: -40px;
	text-align: center;
	width: 100%;
}
.prize-badges {
	width: 10%;
	margin: auto 3%;
}

/*----- Quem Somos -----*/

.quem-somos-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0 auto;
	align-items: center;
	vertical-align: middle;
	height: calc(100vh - 100px);
}
.grid-title-area {
	margin: 0 auto 0 40%;
}
.grid-title {
	font-weight: 700;
	font-size: 2.8em;
	color: #005A73;
	margin-top: 0;
}
.green-yellow-icon {
	width: 40%;
	margin: auto 16%;
}
.quem-somos-text-area {
	margin: 0 40% 0 0;
}
.quem-somos-text {
	color: #3F3F3F;
	font-size: 1.2em;
}
.quem-somos-text2 {
	color: #3F3F3F;
	font-weight: 600;
	font-size: 1.2em;
}
.quem-somos-highlight {
	color: #084D6E;
	font-weight: 600;
	font-size: 1.2em;
	padding: 8px 8px;
	margin-top: 10%;
  margin-right: 50%;
}
.logo-resizing {
	width: 80%;
	opacity: 0;
	transition: opacity 2s ease;
	-webkit-transition: left, opacity 2s ease;
}
.logo-resizing.is-visible {
	opacity: 2;
}

/*----- Nossos Compromissos -----*/

.nossos-compromissos {
	background: url("../images/textura1.png") repeat scroll;
	background-size: 100% 100%;
	padding-top: 0;
	padding-bottom: 10%;
	height: 100vh;
}
.title-responsive {
	margin: auto;
}
.nossos-compromissos-title {
	width: 40%;
	margin: 5% 10% 5% 17%;
	opacity: 0;
	transition: opacity 2s ease;
	-webkit-transition: left, opacity 2s ease;
}
.nossos-compromissos-title.is-visible {
	opacity: 2;
}
.valores-imgs-mobile {
	display: none;
}
.valores-responsive {
	margin: auto;
}
.img-adjust-wide {
  width: 56%;
  align-content: center;
  margin: -14px 22% -14px 22%;
}
.visao-animation {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 3s;
	-webkit-transition: left, opacity 2s ease;
}
.visao-animation.is-visible {
	opacity: 2;
}
.missao-animation {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 5s;
	-webkit-transition: left, opacity 2s ease;
}
.missao-animation.is-visible {
	opacity: 2;
}
.principios-animation {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 7s;
	-webkit-transition: left, opacity 2s ease;
}
.principios-animation.is-visible {
	opacity: 2;
}

/*----- Nossa Atuação -----*/

.nossa-atuacao-title {
	width: 30%;
	margin: 15% 10% 5% 17%;
	opacity: 0;
	transition: opacity 2s ease;
	-webkit-transition: left, opacity 2s ease;
}
.nossa-atuacao-title.is-visible {
	opacity: 2;
}
.map-area-mobile {
	display: none;
}
.map-area {
	margin: auto;
}
.nossa-atuacao-map {
	width: 80%;
  margin: auto 10%;
  transition: opacity 2s ease;
	transition-delay: 5s;
	-webkit-transition: left, opacity 2s ease;
}
.nossa-atuacao-map.is-visible {
	opacity: 2;
}
.atuacao-content-grid {
	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 4%;
	margin: 3% auto;
}
.atuacao-text {
	margin-left: 34%;
	font-size: 1.1em;
  line-height: 1.8em;
  color: #3F3F3F;
}
.atuacao-text2 {
	margin-right: 34%;
	font-size: 1.1em;
  line-height: 1.8em;
  color: #3F3F3F;
}
.green-text {
	color: #179C49;
	font-weight: 600;
}
.highlighted-paragraph-area {
	margin: 2% auto;
	text-align: center;
}
.highlighted-paragraph {
	color: #3F3F3F;
	font-size: 1.6em;
	margin: auto 27%;
	font-weight: 600;
	margin: auto 27% 10% 27%;
}
.bold-text {
	font-weight: 600;
}

/*----- Premiações -----*/

.slideshow-container {
	display: none;
}
.premiacoes {
	background: url("../images/textura2.png") repeat scroll;
	background-size: 100% 100%;
	padding-top: 0;
	padding-bottom: 10%;
	height: 100vh;
}
.premiacoes-title {
	width: 30%;
	margin: 3% 10% 3% 17%;
	opacity: 0;
	transition: opacity 2s ease;
	-webkit-transition: left, opacity 2s ease;
}
.premiacoes-title.is-visible {
	opacity: 2;
}
.premiacoes-grid-mobile {
	display: none;
}
.premiacoes-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: auto;
}
.grid-row-left {
	text-align: right;
	margin-right: 7px;
	margin-top: 7px;
}
.grid-row-right {
	text-align: left;
	margin-left: 7px;
	margin-top: 7px;
}
.premiacoes-display {
	width: 60%;
}
.animation-2011 {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 3s;
	-webkit-transition: left, opacity 2s ease;
}
.animation-2011.is-visible {
	opacity: 2;
}
.animation-2012 {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 5s;
	-webkit-transition: left, opacity 2s ease;
}
.animation-2012.is-visible {
	opacity: 2;
}
.animation-2014 {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 7s;
	-webkit-transition: left, opacity 2s ease;
}
.animation-2014.is-visible {
	opacity: 2;
}
.animation-2016 {
	opacity: 0;
	transition: opacity 2s ease;
	transition-delay: 9s;
	-webkit-transition: left, opacity 2s ease;
}
.animation-2016.is-visible {
	opacity: 2;
}


/*----- Contato -----*/

.contato-title {
	width: 27%;
	margin: 15% 10% 5% 17%;
	opacity: 0;
	transition: opacity 2s ease;
	-webkit-transition: left, opacity 2s ease;
}
.contato-title.is-visible {
	opacity: 2;
}
.contato-grid {
	display: grid;
	grid-template-columns: 45% 55%;
	margin: 5% auto;
}
.contato-content-area {
	margin-left: 38%;
}
.contato-subtitle {
	font-weight: 700;
	font-size: 1.5em;
	color: #3F3F3F;
	margin-top: 10%;
}
.contato-text {
	line-height: 10pt;
	font-size: 1.2em;
}
.contato-img {
	width: 73%;
}

.logos-imgs {
	margin: 10% auto 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	vertical-align: middle;
}
.grid-left-side {
	text-align: right;
	margin-right: 10%;
}
.grid-right-side {
	text-align: left;
	margin-left: 10%;
}
.logo-crea {
	width: 40%;
}
.logo-cra {
	width: 40%;
}
.logo-cadastur {
	width: 40%;
}
.logo-abeoc {
	width: 35%;
}

/*----- Footer -----*/

.footer-background {
	background-color: #084D6E;
	padding: 8%;
	text-align: center;
	margin: 3% auto 0 auto;
}
.footer-icons-area {
	margin: auto;
}
.footer-icon {
	color: #FFFFFF;
	font-size: 2.5em;
	margin: 0 12px;
}
.footer-icon:hover {
	color: #EAAA00;
}
.footer-icon:active {
	color: #EAAA00;
}

/*-----Media Queries-----*/


/*Widescreen*/

@media only screen and (min-width: 2300px) {
	.center-content {
	 	max-width: 1500px;
		align-content: center;
	}
	.navbar {
    height: 118px;
	}
	.navbar-text {
		font-size: 21px;
	}
	.banner-picture {
    height: 1455px;
	}
	.home-title {
		font-size: 7.2em;
	}
	.quem-somos-text-area {
		margin: 10% 16% 10% 0;
	}
	.grid-title-area {
		margin: 20% auto 20% 27%;
	}
	.grid-title {
		font-size: 3.5em;
	}
	.green-yellow-icon {
    width: 40%;
    margin: auto 12%;
	}
	.quem-somos-text {
		font-size: 1.8em;
	}
	.quem-somos-text2 {
		font-size: 1.8em;
	}
	.quem-somos-highlight {
		font-size: 1.8em;
		padding: 9px 29px;
	}
	.nossos-compromissos-title {
		width: 50%;
		margin: 5% 10% 5% 9%;
	}
	.img-adjust-wide {
		width: 80%;
    align-content: center;
    margin: -10px 10% -10px 10%;
	}
	.nossa-atuacao-title {
		width: 40%;
    margin: 15% 10% 5% 9%;
	}
	.nossa-atuacao-map {
    width: 100%;
    margin: auto 2%;
	}
	.atuacao-text {
    margin-left: 20%;
    font-size: 1.3em;
	}
	.atuacao-text2 {
    margin-right: 20%;
    font-size: 1.3em;
	}
	.highlighted-paragraph {
    font-size: 1.8em;
    margin: auto 30% 10% 30%;
	}
	.premiacoes-title {
		width: 40%;
		margin: 5% 10% 5% 9%;
	}
	.premiacoes-display {
    width: 50%;
	}
	.contato-title {
		width: 37%;
		margin: 15% 10% 5% 9%;
	}
	.contato-subtitle {
    font-size: 1.8em;
	}
	.contato-text {
    font-size: 1.4em;
	}
	.contato-content-area {
    margin-left: 20%;
	}
	.contato-img {
    width: 84%;
	}
	.logo-crea {
		width: 25%;
	}
	.logo-cra {
		width: 25%;
	}
	.logo-cadastur {
		width: 25%;
	}
	.logo-abeoc {
		width: 20%;
	}
	.footer-icon {
    font-size: 3em;
    margin: 0 22px;
	}
}

@media screen and (max-width: 2299px) and (min-width: 1600px) {
	.center-content {
	 	max-width: 1500px;
		align-content: center;
	}
	.navbar-text {
		font-size: 21px;
	}
	.banner-picture {
    height: 1000px;
	}
	.home-title {
		font-size: 5.2em;
	}
	.quem-somos-text-area {
		margin: 10% 16% 10% 0;
	}
	.grid-title-area {
		margin: 20% auto 20% 27%;
	}
	.grid-title {
		font-size: 3.3em;
	}
	.green-yellow-icon {
    width: 40%;
    margin: auto 12%;
	}
	.quem-somos-text {
		font-size: 1.6em;
	}
	.quem-somos-text2 {
		font-size: 1.6em;
	}
	.quem-somos-highlight {
		font-size: 1.6em;
		padding: 9px 29px;
	}
	.nossos-compromissos-title {
		width: 45%;
		margin: 3% 10% 5% 16%;
	}
	.img-adjust-wide {
    width: 60%;
    align-content: center;
    margin: -25px 20% 0 20%;
	}
	.nossa-atuacao-title {
		width: 35%;
    margin: 15% 10% 5% 16%;
	}
	.nossa-atuacao-map {
    width: 90%;
    margin: auto 5% auto 5%;
	}
	.atuacao-text {
    margin-left: 30%;
    font-size: 1.3em;
	}
	.atuacao-text2 {
    margin-right: 30%;
    font-size: 1.3em;
	}
	.highlighted-paragraph {
    font-size: 1.8em;
    margin: auto 30% 10% 30%;
	}
	.premiacoes-title {
		width: 35%;
		margin: 5% 10% 5% 16%;
	}
	.premiacoes-display {
    width: 55%;
    max-width: 600px;
	}
	.contato-title {
		width: 32%;
		margin: 15% 10% 5% 17%;
	}
	.contato-subtitle {
    font-size: 1.8em;
	}
	.contato-text {
    font-size: 1.4em;
	}
	.logo-crea {
		width: 30%;
	}
	.logo-cra {
		width: 30%;
	}
	.logo-cadastur {
		width: 30%;
	}
	.logo-abeoc {
		width: 25%;
	}
	.footer-icon {
    font-size: 3em;
    margin: 0 22px;
	}

}

@media screen and (max-width: 1250px) and (min-width: 1025px) {
 .navbar-text {
		padding: 1% 5% 1% 2%;
		font-size: 15px;
	}
	.home-title {
		font-size: 3em;
	}
	.quem-somos-text-area {
    margin: 10% 30% 10% 0;
	}
	.grid-title {
    font-size: 2.2em;
    margin-bottom: 16px;
	}
	.quem-somos-text {
    font-size: 1em;
	}
	.quem-somos-text2 {
    font-size: 1em;
	}
	.quem-somos-highlight {
		font-size: 1em;
		padding: 9px 17px;
	}
	.nossos-compromissos-title {
    margin: 5% 10% 5% 13%;
	}
	.nossa-atuacao-title {
    margin: 15% 10% 5% 13%;
	}
	.premiacoes-title {
    margin: 5% 10% 5% 13%;
	}
	.premiacoes-display {
    width: 76%;
	}
	.img-adjust-wide {
		width: 55%;
	  align-content: center;
	  margin: -8px 22.5% -8px 22.5%;
	}
	.highlighted-paragraph {
    margin: auto 19% 10% 19%;
	}
	.contato-title {
    margin: 15% 10% 5% 13%;
	}
	.contato-content-area {
    margin-left: 28%;
	}
	.contato-subtitle {
    font-size: 1.3em;
	}
	.contato-text {
    font-size: 1em;
	}
	.contato-img {
    width: 78%;
	}
	.logo-crea {
		width: 50%;
	}
	.logo-cra {
		width: 50%;
	}
	.logo-cadastur {
		width: 50%;
	}
	.logo-abeoc {
		width: 45%;
	}
	.footer-icon {
    font-size: 3em;
    margin: 0 22px;
	}
	 
}
@media screen and (max-width: 1024px) and (min-width: 900px) {
 	.navbar {
    height: 90px;
	}
 	.navbar-text {
		padding: 1% 3% 1% 3%;
		font-size: 14px;
	}
	.logo-img-navbar {
    width: 120px;
	}
	.header-banner {
		position: relative;
		padding: 83px 0 0 0;
	}
	.home-title-mobile {
		display: block;
		font-size: 3.8em;
		position: absolute;
		bottom: 50%;
		margin-bottom: -130px;
		right: 80px;
		color: #FFFFFF;
		text-align: right;
	}
	.home-title {
		display: none;
	}
	.prize-badges {
    width: 13%;
    margin: auto 3%;
	}
	.grid-title-area {
    margin: 24% auto 20% 19%;
	}
	.quem-somos-text-area {
    margin: 10% 19% 10% 0;
	}
	.grid-title {
    font-size: 2.2em;
    margin-bottom: 16px;
	}
	.quem-somos-grid {
    height: auto;
	}
	.quem-somos-text {
    font-size: 1em;
    line-height: 1.8em;
	}
	.quem-somos-text2 {
    font-size: 1em;
    line-height: 1.8em;
	}
	.quem-somos-highlight {
		font-size: 1em;
		padding: 9px 13px;
		margin-right: 45%;
	}
	.nossos-compromissos {
		height: auto;
	}
	.nossos-compromissos-title {
		width: 50%;
    margin: 5% 10% 5% 10%;
	}
	.img-adjust-wide {
    width: 85%;
    align-content: center;
    margin: -14px 7.5% -14px 7.5%;
	}
	.nossa-atuacao-title {
		width: 40%;
    margin: 15% 10% 5% 10%;
	}
	.nossa-atuacao-map {
    width: 100%;
    margin: auto 0;
	}
	.atuacao-text {
    margin-left: 16%;
    font-size: 1em;
	}
	.atuacao-text2 {
    margin-right: 16%;
    font-size: 1em;
	}
	.highlighted-paragraph {
    font-size: 1.2em;
    margin: auto 19% 10% 19%;
	}
	.premiacoes {
		height: auto;
	}
	.premiacoes-title {
		width: 40%;
    margin: 5% 10% 5% 10%;
	}
	.premiacoes-grid {
		display: none;
	}
	.slideshow-container {
		display: block;
    max-width: 1000px;
    position: relative;
    margin: auto 10%;
	}
	.mySlides {
    display: none;
    width: 80%;
    margin: auto 10%;
	  height: auto;
	  border: none;  
	}
	.prev,
	.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px -10px auto -10px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
	}
	.next {
    right: 10px;
    border-radius: 3px 3px 3px 3px
	}
	.prev {
    left: 10px;
    border-radius: 3px 3px 3px 3px
	}
	.prev:hover,
	.next:hover {
    color: #EAAA00;
	}
	/*.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
	  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
	}*/
	.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
	}
	.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
	}
	.active,
	.dot:hover {
	  background-color: #717171
	}
	.contato-title {
    margin: 15% 10% 5% 13%;
	}
	.contato-content-area {
    margin-left: 16%;
	}
	.contato-subtitle {
    font-size: 1.2em;
	}
	.contato-text {
    font-size: 1em;
	}
	.contato-img {
    width: 100%;
	}
	.logo-crea {
		width: 50%;
	}
	.logo-cra {
		width: 50%;
	}
	.logo-cadastur {
		width: 50%;
	}
	.logo-abeoc {
		width: 45%;
	}
	.footer-icon {
    font-size: 2em;
    margin: 0 15px;
	}
	 
}
@media screen and (max-width: 899px) and (min-width: 650px) {
 	.navbar {
    height: 90px;
	}
 	.navbar-text {
		padding: 1% 3% 1% 3%;
		font-size: 14px;
	}
	.logo-img-navbar {
    width: 120px;
	}
	.header-banner {
		position: relative;
		padding: 83px 0 0 0;
	}
	.home-title-mobile {
		display: block;
		font-size: 3.7em;
		position: absolute;
		bottom: 50%;
		margin-bottom: -130px;
		right: 80px;
		color: #FFFFFF;
		text-align: right;
	}
	.home-title {
		display: none;
	}
	.prize-badges {
    width: 13%;
    margin: auto 3%;
	}
	.grid-title-area {
    margin: 24% auto 20% 19%;
	}
	.quem-somos-grid {
    height: auto;
	}
	.quem-somos-text-area {
    margin: 10% 19% 10% 0;
	}
	.grid-title {
    font-size: 2.2em;
    margin-bottom: 16px;
	}
	.quem-somos-text {
    font-size: 1em;
    line-height: 1.8em;
	}
	.quem-somos-text2 {
    font-size: 1em;
    line-height: 1.8em;
	}
	.quem-somos-highlight {
		font-size: 1em;
		padding: 9px 13px;
		margin-right: 45%;
	}
	.nossos-compromissos {
		height: auto;
	}
	.nossos-compromissos-title {
		width: 50%;
    margin: 5% 10% 5% 10%;
	}
	.img-adjust-wide {
    width: 85%;
    align-content: center;
    margin: -14px 7.5% -14px 7.5%;
	}
	.nossa-atuacao-title {
		width: 40%;
    margin: 15% 10% 5% 10%;
	}
	.nossa-atuacao-map {
    width: 100%;
    margin: auto 0;
	}
	.atuacao-text {
    margin-left: 16%;
    font-size: 1em;
	}
	.atuacao-text2 {
    margin-right: 16%;
    font-size: 1em;
	}
	.highlighted-paragraph {
    font-size: 1.2em;
    margin: auto 19% 10% 19%;
	}
	.premiacoes {
		height: auto;
	}
	.premiacoes-title {
		width: 40%;
    margin: 5% 10% 5% 10%;
	}
	.premiacoes-grid {
		display: none;
	}
	.slideshow-container {
		display: block;
    max-width: 1000px;
    position: relative;
    margin: auto 10%;
	}
	.mySlides {
    display: none;
    width: 80%;
    margin: auto 10%;
	  height: auto;
	  border: none;  
	}
	.prev,
	.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px -10px auto -10px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
	}
	.next {
    right: 10px;
    border-radius: 3px 3px 3px 3px
	}
	.prev {
    left: 10px;
    border-radius: 3px 3px 3px 3px
	}
	.prev:hover,
	.next:hover {
    color: #EAAA00;
	}
	.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
	}
	.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
	}
	.active,
	.dot:hover {
	  background-color: #717171
	}
	.contato-title {
    margin: 15% 10% 5% 13%;
	}
	.contato-content-area {
    margin-left: 16%;
	}
	.contato-subtitle {
    font-size: 1.2em;
	}
	.contato-text {
    font-size: 1em;
	}
	.contato-img {
    width: 100%;
	}
	.logo-crea {
		width: 50%;
	}
	.logo-cra {
		width: 50%;
	}
	.logo-cadastur {
		width: 50%;
	}
	.logo-abeoc {
		width: 45%;
	}
	.footer-icon {
    font-size: 2em;
    margin: 0 15px;
	}
	 
}

@media screen and (max-width: 649px) and (min-width: 320px) {
 	.navbar-mobile {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		margin: 0 auto;
	}
 	.navbar {
		display: none;
	}
	.navbar-text {
		padding: 1% 3% 1% 3%;
		font-size: 14px;
	}
	.header-banner {
		position: relative;
		padding: 83px 0 0 0;
	}
	.banner-picture {
    border-width: 5px;
    height: 400px;
	}
	.home-title-mobile {
    display: block;
    font-size: 2.2em;
    position: absolute;
    bottom: 50%;
    margin-bottom: -92px;
    right: 33px;
    color: #FFFFFF;
    text-align: right;
    opacity: 0;
		transition: opacity 2s ease;
		-webkit-transition: left, opacity 2s ease;
	}
	.home-title-mobile.is-visible {
		opacity: 2;
	}
	
	.home-title {
		display: none;
	}
	.prizes-images-header {
    bottom: -17px;
	}
	.prize-badges {
    width: 15%;
    margin: auto 3%;
	}
	.quem-somos-grid {
		display: grid;
		grid-template-columns: 100%;
		margin: 5% auto 10% auto;
		height: auto;
	}
	.grid-title-area {
    margin: 5% auto 5% auto;
    text-align: center;
	}
	.quem-somos-text-area {
    margin: 0 10% 10% 10%;
	}
	.grid-title {
    font-size: 2em;
    margin-bottom: 16px;
	}
	.green-yellow-icon {
    width: 32%;
	}
	.logo-resizing {
    width: 70%;
	}
	.quem-somos-text {
    font-size: 1em;
    line-height: 1.8em;
	}
	.quem-somos-text2 {
    font-size: 1em;
    line-height: 1.8em;
	}
	.quem-somos-highlight {
		font-size: 1em;
		padding: 9px 13px;
		margin-right: 34%;
	}
	.nossos-compromissos {
		height: auto;
	}
	.nossos-compromissos {
    background-size: auto 100%;
	}
	.nossos-compromissos-title {
    width: 80%;
    margin: 5% 10% 15% 10%;
	}
	.valores-imgs {
		display: none;
	}
	.valores-imgs-mobile {
		display: block;
		text-align: center;
	}
	.img-adjust-mobile {
		width: 230px;
	}
	.nossa-atuacao-title {
		width: 70%;
    margin: 15% 10% 5% 10%;
	}
	.map-area {
		display: none;
	}
	.map-area-mobile {
		display: block;
	}
	.nossa-atuacao-map-mobile {
    width: 100%;
    margin: auto 0;
	}
	.atuacao-content-grid {
    grid-template-columns: 100%;
    grid-gap: 2%;
    margin: 3% auto;
	}
	.atuacao-text {
    font-size: 0.8em;
    margin: auto 10%;
	}
	.atuacao-text2 {
    font-size: 0.8em;
    margin: auto 10%;
	}
	.highlighted-paragraph {
    margin: 10% 10% 10% 10%;
    font-size: 0.9em;
	}
	.premiacoes {
		height: auto;
	}
	.premiacoes-title {
		width: 70%;
    margin: 5% 10% 10% 10%;
	}
	.premiacoes-grid {
		display: none;
	}
	.slideshow-container {
		display: block;
    max-width: 1000px;
    position: relative;
    margin: auto 10%;
	}
	.mySlides {
    display: none;
    width: 90%;
    margin: auto 5%;
	  height: auto;
	  border: none;
	     
	}
	.prev,
	.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px -40px auto -40px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
	}
	.next {
    right: 10px;
    border-radius: 3px 3px 3px 3px
	}
	.prev {
    left: 10px;
    border-radius: 3px 3px 3px 3px
	}
	.prev:hover,
	.next:hover {
    color: #EAAA00;
	}
	.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
	}
	.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
	}
	.active,
	.dot:hover {
	  background-color: #717171
	}
	.contato-title {
		width: 57%;
    margin: 15% 10% 5% 10%;
	}
	.contato-grid {
    grid-template-columns: 100%;
	}
	.contato-content-area {
    margin: auto 10%;
	}
	.contato-subtitle {
    font-size: 1em;
	}
	.contato-text {
    font-size: 0.8em;
	}
	.contato-img {
    margin-top: 10%;
    width: 100%;
	}
	.logo-crea {
		width: 65%;
	}
	.logo-cra {
		width: 65%;
	}
	.logo-cadastur {
		width: 65%;
	}
	.logo-abeoc {
		width: 60%;
	}
	.footer-background {
    padding: 15%;
	}
	.footer-icon {
    font-size: 1.5em;
    margin: 0 10px;
	} 
}